node_modules/
dist/
data/
out/
samples/*/out/
tools/generated/
*.log
build-meta.json
pkg/md_wasm.js
pkg/md_wasm_bg.wasm
pkg/md_wasm.d.ts
pkg/md_wasm_bg.wasm.d.ts
md-emulator.js
md-emulator.d.ts
wasm-player.js
projects/
!**/template/*/data
